[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adegenet"]
	path = adegenet
	url = https://github.com/thibautjombart/adegenet
[submodule "apex"]
	path = apex
	url = https://github.com/thibautjombart/apex
[submodule "treespace"]
	path = treespace
	url = https://github.com/thibautjombart/treespace
